
.inbox{
   
    width: 50%;
    transition:0.5s all;
    
}
.full-inbox{
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: #ffffff;
    height: 85vh;
    overflow: auto;
    border:1px solid rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 0px 10px 1px rgb(245, 245, 245);
    transition: 0.5s all;

}

.inbox::-webkit-scrollbar{
    width: 1px;
}