.mail-tile{
    background-color: rgb(255, 255, 255);
    height: max-content;
    min-height: 40px;
    border-top: 1px solid rgb(243, 243, 243);
    width: auto;
}
.mail-subject{
    margin-right: 2.5rem;
}
.mail-tag{
    position: absolute;
    right: 0.5rem;
    color: grey;
    bottom: 0.1rem;
}
.mail-body-container{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: rgba(31, 31, 31, 0.747);
  
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.mail-body{

    background-color: white;
    color: black;
    max-width: 700px;
    height: 50vh;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
}
.mail-body-close-btn
{
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
}
.f-grey
{
    color: rgb(110, 110, 110);
}