@import "https://ease-css.netlify.app/ease/css/ease.css";

*{
  box-sizing: border-box;
}
.App {

  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
hr {
  border-top: 0;
  margin-top: 50px;
}
.container-slim {
  margin-top: 50px;
  margin-left: 205px;
  transition: 0.3s all;
}
.container-full {
  margin-top: 50px;
  width: 90%;
  margin-left: 55px;
  transition: 0.3s all;

}
.link{
  color: black;
}
