.mailbody-container{
    position: relative;
    min-height: 85vh;
    display: flex;
    width: 50%;
    background-color: rgb(250, 250, 250);
    padding: 1rem;
}
.mailbody
{
    /* position: fixed; */

    width: 100%;
    border-radius: 5px;
}
.mailbody-subject
{
    background-color: rgb(224, 224, 224);
    padding: 0.7rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.mailbody-body{
    background-color: rgb(238, 238, 238);
    padding: 0.7rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}